@font-face { 
    font-family: 'pixelmix';
    src: url('fonts/pixelmix.ttf');
    src: local('pixelmix'), local('pixelmix'), url('fonts/pixelmix.ttf') format('truetype');
 }

* {
    margin: 0;
    padding: 0;
    font-family: 'pixelmix';
}

body {
    background-color: #222533;
}

.container {        
    height: 100%;
    min-height: 100%;
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/* MOBILE VERSION */

.logotipo {
    width: 235.56px;
    height: 60px;
    padding: 143px 0px 50px 0px;
    margin: 0px 69.72px 0px 69.72px;
}

.local-date {
    font-size: 14px;
    text-align: center;
    color: #FFFFFF;
}

.date {
    padding-bottom: 36px;
}

.calltoaction {
    font-size: 13px;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    background-color: #77F375;
    padding: 14px;
}

a:-webkit-any-link {
    color: #FFFFFF;
    text-decoration: none;
}

.icons {
    display: flex;
    justify-content: center;                              
}

.fa-facebook-f {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
}

.fa-twitter {
    text-align: center;
    color: #FFFFFF;
    font-size: 30px;
    margin-left: 30px;
}

/* TABLET VERSION */

@media(min-width: 768px) { 
    .logotipo {
        width: 367.56px;
        height: 93px;
        padding: 301px 0px 50px 0px;
        margin: 0px 200.22px 0px 200.22px;
    }

    .local-date {
        font-size: 15px;
    }

    .butoon {
        padding: 100px 0px 50px 0px;
        margin: 0px 263px 0px 263px;
    }

    .calltoaction {
        font-size: 15px;
        padding: 16px;
    }

    .fa-facebook-f {
        font-size: 33px;
    }
    
    .fa-twitter {
        font-size: 33px;
        margin-left: 30px;
    }
}


/* DESKTOP VERSION */

@media(min-width: 992px) {
    .logotipo {
        width: 465.56px;
        height: 118px;
        padding: 283px 0px 50px 0px;
        margin: 0px 285.22px 0px 285.22px;
    }
    
    .local-date {
        font-size: 20px;
    } 

    .butoon {
        display: flex;
        justify-content: center;
    }
}